/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 90px 15px 0;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;  
    margin-top: 50px;
}

header .intro-text {
    padding-top: 380px;
    padding-bottom: 380px;
    /* text-shadow: 1px 1px 1px #FFFFFF; */
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 29px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

.title {
	margin-top:70px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #428bca;
	margin-bottom: 0em;
}
.title-section {
	background: #428bca;
	position: relative;
	padding-top: 30px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 20px;
}
.title-section h1 {
	margin: 0 0 5px 0;
	line-height: 58px;
	font-size: 40px;
	font-weight: 600;
	color: #fff;
}

div.navbar{
	padding: 1em 0;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #fff;
}

