<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FalconTowncar</display-name>
  
  <servlet>
	<servlet-name>Jersey Rest Service</servlet-name>
	<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	<init-param>
		<param-name>com.sun.jersey.config.property.packages</param-name>
		<param-value>com.falcon.hosting.restful</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
	<servlet-name>Jersey Rest Service</servlet-name>
	<url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>com.falcon.hosting.guice.FalconServletContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <error-page>
	<error-code>404</error-code>
	<location>/page404.html</location>
  </error-page>
  
  <login-config>
	<auth-method>FORM</auth-method>
	<realm-name>jdbcFalconRealm</realm-name>
   	<form-login-config>
   		<form-login-page>/login</form-login-page>
   		<form-error-page>/login</form-error-page>
   	</form-login-config>
  </login-config>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Testing</web-resource-name>
      <url-pattern>/secure</url-pattern>
      <url-pattern>/post</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>role_driver</role-name>
      <role-name>role_owner</role-name>
    </auth-constraint>
  </security-constraint>
  
   <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>Owner Register for Drivers</web-resource-name>
  		<url-pattern>/register-driver</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>role_owner</role-name>
  	</auth-constraint>
  </security-constraint>
  
   <security-constraint>
    <web-resource-collection>
      <web-resource-name>Dash Board</web-resource-name>
      <url-pattern>/dashboard/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>role_driver</role-name>
      <role-name>role_owner</role-name>
      <role-name>role_customer</role-name>
    </auth-constraint> 
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Add Job</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>role_owner</role-name>
    </auth-constraint> 
  </security-constraint>
</web-app>